/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.10.2016, 14:37:16
    Author     : mephi
*/




/*
@keyframes fadeInOut {
  5% {
    opacity:1;
  }
  10% {
    opacity:1;
  }
  15% {
    opacity:1;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:1;
  }
  30% {
    opacity:0;
  }
  35% {
    opacity:0;
  }
  40% {
    opacity:0;
  }
  45% {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  55% {
    opacity:0;
  }
  60% {
    opacity:0;
  }
  65% {
    opacity:0;
  }
  70% {
    opacity:0;
  }
  75% {
    opacity:0;
  }
  80% {
    opacity:0;
  }
  85% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}*/

@keyframes fadeInOut {
  3.125% {
    opacity:1;
  }
  6.25% {
    opacity:1;
  }
  9.375% {
    opacity:1;
  }
  12.5% {
    opacity:1;
  }
  15.625% {
    opacity:1;
  }
  18.75% {
    opacity:0;
  }
  21.875% {
    opacity:0;
  }
  25% {
    opacity:0;
  }
  28.125% {
    opacity:0;
  }
  31.25% {
    opacity:0;
  }
  34.375% {
    opacity:0;
  }
  37.5% {
    opacity:0;
  }
  40.625% {
    opacity:0;
  }
  43.75% {
    opacity:0;
  }
  46.875% {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  53.125% {
    opacity:0;
  }
  56.25% {
    opacity:0;
  }
  59.375% {
    opacity:0;
  }
  62.5% {
    opacity:0;
  }
  65.625% {
    opacity:0;
  }
  68.75% {
    opacity:0;
  }
  71.875% {
    opacity:0;
  }
  75% {
    opacity:0;
  }
  78.125% {
    opacity:0;
  }
  81.25% {
    opacity:0;
  }
  84.375% {
    opacity:0;
  }
  87.5% {
    opacity:0;
  }
  90.625% {
    opacity:0;
  }
  93.75% {
    opacity:0;
  }
  96.875% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.phone-screen-area img {
    position: absolute;
    width:100%;
    height:100%;
    animation-name: fadeInOut;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*animation-duration: 20s;*/
    animation-duration: 28s;
}

.phone-screen-area img:nth-of-type(1) {
  /*animation-delay: 16s;*/
  animation-delay: 24s;
}
.phone-screen-area img:nth-of-type(2) {
  animation-delay: 20s;
}
.phone-screen-area img:nth-of-type(3) {
  animation-delay: 16s;
}
.phone-screen-area img:nth-of-type(4) {
  animation-delay: 12s;
}
.phone-screen-area img:nth-of-type(5) {
  animation-delay: 8s;
}
.phone-screen-area img:nth-of-type(6) {
  animation-delay: 4s;
}
.phone-screen-area img:nth-of-type(7) {
  animation-delay: 0s;
}

/*
.hidden-phone-middle img {
   position: absolute;
   left:0;
   top:0;
   width:96%;
   height: auto;

    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 11s;
    animation-direction: alternate;
    
}

.hidden-phone-middle img:nth-of-type(1) {
  animation-delay: 10s;
}
.hidden-phone-middle img:nth-of-type(2) {
  animation-delay: 8s;
}
.hidden-phone-middle img:nth-of-type(3) {
  animation-delay: 6s;
}
.hidden-phone-middle img:nth-of-type(4) {
  animation-delay: 4s;
}
.hidden-phone-middle img:nth-of-type(5) {
  animation-delay: 2s;
}
.hidden-phone-middle img:nth-of-type(6) {
  animation-delay: 0s;
}
*/