<div class="panel panel-primary">
		<div class="panel-heading"><h4>Trash collected</h4></div>
		
		<div class="best-block">
		<div class="best-block-news-comment-footer">
		
		
		<table class="table">
		<td>
		<div class="reply_image">
         <p><a href="#"><img src="%USER_PHOTO_URL%" class="reply_img img-circle"></a></p>
        </div>
		</td>

		<td>
        <div class="reply_content">
        <p><a href="#">%USER_FULL_NAME%</a><small>%DATE_TIME%</small></p>
        Put trash %TRASH_NAME% in trash bin %TRASH_BIN_NAME%
        </div>
		</td>
		</table>
		</div>
		</div>
		
		</div>